Package: com.baileyseymour.nightfall
Name: Nightfall
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Bailey Seymour
Author: Bailey Seymour
Section: Tweaks
